{% extends "base.html" %}

{% block page_css %}
<style type="text/css">
	.right-column {
		width: 432px;
	}
	
	h2 {
		border-bottom: 1px solid #58595b;
	}
	
	#benefits {
		font-size: 24px;
		font-weight: bold;
		margin-top: 0px;
	}
</style>
{% endblock %}

{% block header_text %}job seekers{% endblock %}

{% block nav_content %}
	<ul>
		<li>Have an Account? <a href="{{ settings.APPLICANT_HOST }}{% url applicant_login %}"><button>Login</button></a></li>
	</ul>
{% endblock %}

{% block body_content %}
<h1>Create an Account</h1>
<div class="left-column">
	<ul id="benefits" class="no-bullets">
		<li>Free job matching</li>
		<li>Get instant alerts on any phone or mobile device</li>
		<li>Apply for jobs on the go</li>
	</ul>
    <p><strong>Txt2wrk</strong> provides a free job-matching service designed for everyday mobile phones. Our goal is to make it easy for you to get the information you need to find work--no computer required.</p>
    <h2>How can <strong>txt2wrk</strong> help you</h2>
    <p>Get help with your job hunt. <strong>Txt2wrk</strong> is an easier way to find work.  All you need to do is create a profile and upload a resume.</p>
	<p>Real-time alerts. <strong>Txt2wrk</strong> will match your profile with available jobs and send an alert to your phone as soon as a new job is posted.</p>
    <p>The information you need. You can listen to description of the job and even apply on the spot–-without accessing a computer.</p>
</div>
<div class="right-column">
	<form action="{% url applicant_register %}" method="post">
		{% csrf_token %}
	    {{ form.non_field_errors }}
	    {{ form.username }}
	    <fieldset>
	    	<legend>Let's set up some account details: <span class="required-fields">All Fields Required</span></legend>
	        <div class="fieldWrapper">
	            {{ form.mobile_number.label_tag }} {{ form.mobile_number }} {{ form.mobile_number.errors }}
	        </div>
	        <div class="fieldWrapper">
	            {{ form.password1.label_tag }} {{ form.password1 }} {{ form.password1.errors }}
	        </div>
	        <div class="fieldWrapper">
	            {{ form.password2.label_tag }} {{ form.password2 }} {{ form.password2.errors }}
	        </div>
	    </fieldset>
	    <fieldset>
	    	<legend>Basic Information: <span class="required-fields">* Required Field</span></legend>
	        <div class="fieldWrapper">
	            {{ form.first_name.label_tag }} {{ form.first_name }} {{ form.first_name.errors }}
	        </div>
	        <div class="fieldWrapper">
	            {{ form.last_name.label_tag }} {{ form.last_name }} {{ form.last_name.errors }}
	        </div>
	        <div class="fieldWrapper">
	            {{ form.email.label_tag }} {{ form.email }} {{ form.email.errors }}
	        </div>
	    </fieldset>
	    <div class="right"><button>Create Account</button></div>
	</form>
</div>
{% endblock %}

{% block demo_overlay %}
    {% if request.session.demo %}
        <div id="demo">You are using the demo version of Txt2Wrk.  Any accounts or jobs you create will not be publicly available to real employers and job seekers. You can <a href="{% if user.is_authenticated %}{% url applicant_logout %}?next={% endif %}{% url demo_off %}">go back to the normal site.</a></div>
    {% endif %}
{% endblock %}