{% extends "applicant/applicant_base.html" %}

{% block tabbed_navigation %}{% endblock %}

{% block page_class %}verify-phone{% endblock %}

{% block head_title %}Waiting for Confirmation{% endblock %}

{% block page_css %}
    <script type="text/javascript">
        $(document).ready(function() {
            checkPhone();
        });

        function checkPhone()
        {
            $.ajax({
                url: '{% url check_phone_verification mobile_number %}',
                dataType: 'script'
            })
        }
    </script>
{% endblock %}

{% block body_content %}
    <section id="instructions">
        {% if DEMO_ENABLED %}
            <h2>Thanks for starting the txt2wrk demo!</h2>
            <p><strong>Important:</strong> For each step in this demo, refer to the instructions at the very top of each page.</p>
        {% else %}
            <h2>Thanks for signing up with txt2wrk!</h2>
        {% endif %}
        <p>We have sent a text message to {{ mobile_number }}</p>
        {% if DEMO_ENABLED %}
            <p>When you confirm the text message, you will receive a sample job posting on your phone. This page will also advance to your profile page where you can enter your job history, education, and relevant skills.</p>
        {% else %}
            <p>When you confirm the text message, you will receive a PIN code on your phone for logging in to txt2wrk. This page will also reload to display your profile page, where you can describe yourself to employers.</p>
        {% endif %}
    </section>
    <section id="waiting">
        <h2>Waiting for confirmation</h2>
    </section>
    <section id="problems" class="last">
        <h2>Problems?</h2>
        <p>If the page doesn't advance automatically, enter the PIN you received via text message to continue.</p>
        <form action="{% url applicant_login %}?next={% url applicant_profile %}" method="post">
            {% csrf_token %}
            {{ login_form.username }}
            {{ login_form.password }}
            <button>Sign In</button>
        </form>
    </section>
{% endblock %}