{% extends 'about/homepage_base.html' %}

{% block page_js %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.splitphone.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
           $('input#id_mobile_number').splitPhone();
        });
    </script>
{% endblock %}

{% block page_class %}about with-sidebar{% endblock %}

{% block page_content %}
<div class="page-content">
    <div class="main-column">
        <h3>About txt2wrk!</h3>
        <section>
            <p>Txt2wrk helps parolees, homeless, and other job seekers compete on a more level playing field by providing text-to-speech delivery of job postings on any mobile phone. Job seekers receive text message alerts of new job postings, listen to job descriptions, and submit job applications, 24-hours a day, all without a connection to the internet.</p>
            <p>Txt2wrk is compatible with any mobile phone, ensuring job seekers with low literacy and limited access to broadband have equal access to public and private job resources offered by local workforce development and social service agencies.</p>
            <p>For more details about txt2wrk, download a PDF: <a href=""><img src="{{ STATIC_URL }}images/logged_out/icon-pdf.png" /> txt2wrk.pdf</a></p>
        </section>
        <section id="demo">
            <div class="instructions">
                <h3>Try the demo!</h3>
                <p>Experience the range of txt2wrk services as a <strong>job seeker</strong>, <strong>employer</strong>, and <strong>workforce development agency</strong></p>
                <p>Enter your mobile number to begin the txt2wrk demo</p>
                <form action="{% url demo_applicant_register %}" method="post">
                    {% csrf_token %}
                    {{ demo_form.mobile_number }}
                    <button>begin</button>
                </form>
                <p class="confirmation-instructions">
                    After submitting your mobile number, you will receive a text message<br />
                    from txt2wrk. When you confirm the text message, you will receive a<br/>
                    sample job posting and a PIN for logging into txt2wrk.net.
                </p>
            </div>
        </section>
    </div>
    <div class="sidebar" id="contributors">
        <h3>Contributors</h3>
        <img src="{{ STATIC_URL }}images/logged_out/contributors.png" />
        <dl>
            <dt>Elise Ackerman</dt>
            <dd>Writer</dd>
            <dt>Tanja Altamurto</dt>
            <dd>Advisor</dd>
            <dt>Jonathan Chan</dt>
            <dd>Software Guy</dd>
            <dt>Dave Chiu</dt>
            <dd>Designer</dd>
            <dt>Patrick Crawford</dt>
            <dd>Graphic Designer</dd>
            <dt>Lawson Knight</dt>
            <dd>Designer</dd>
            <dt>Roger Ly</dt>
            <dd>Software Guy</dd>
            <dt>Allison McKeever</dt>
            <dd>Advisor</dd>
            <dt>Alex Tam</dt>
            <dd>Advisor</dd>
        </dl>
    </div>
    <div class="clearing"></div>
</div>
{% endblock %}
