<!DOCTYPE html>
<html dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}" lang="{{ LANGUAGE_CODE }}">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>txt2wrk - connecting job seekers and employers</title>
        <!--[if lte IE 9]>
            <script type="text/javascript" src="{{ STATIC_URL }}/js/iehtml5.js"></script>
        <![endif]-->

        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.6.2.min.js"></script>

        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/base.css" />
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/loggedout.css" />
 
        {% block page_css %}{% endblock %}
        {% block page_js %}{% endblock %}

    </head>
    <body>
        <div>
            <header>
                <h1>txt2wrk</h1>
                <nav>
                    <ul>
                        <li><a href="">about txt2wrk</a></li> |
                        <li><a href="{% url contact %}">contact us</a></li> |
                        <li><a href="{% if request.user.is_authenticated %}{% url applicant_logout %}?next={{ settings.APPLICANT_HOST }}{% else %}{{ settings.APPLICANT_HOST }}{% url applicant_login %}{% endif %}">{% if request.user.is_authenticated %}logout{% else %}login{% endif %}</a></li>
                    </ul>
                </nav>
                <h2>connecting job seekers and employers</h2>
            </header>
            {% block page_content %}{% endblock %}
            <footer>
                <h5>Thanks for visiting!</h5>
                <p>txt2wrk was founded in Oakland, CA to improve access to employment information for people with low literacy and limited access to broadband.</p>
                <p>txt2wrk was awarded the Ramsell Prize for the best app at the Code for Oakland one-day hackathon on June 4, 2011</p>
                <p>&copy; 2011 txt2wrk all rights reserved</p>
                <nav>
                    <ul>
                        <li><a href="">about txt2wrk</a></li> |
                        <li><a href="{% url contact %}">contact us</a></li> |
                        <li><a href="{% if request.user.is_authenticated %}{% url applicant_logout %}?next={{ settings.APPLICANT_HOST }}{% else %}{{ settings.APPLICANT_HOST }}{% url applicant_login %}{% endif %}">{% if request.user.is_authenticated %}logout{% else %}login{% endif %}</a></li>
                    </ul>
                </nav>
            </footer>
        </div>
    </body>
</html>
