{% extends 'about/homepage_base.html' %}

{% block page_js %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.splitphone.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
           $('input#id_mobile_number').splitPhone();
        });
    </script>
{% endblock %}

{% block page_class %}splash{% endblock %}

{% block page_content %}
    <section id="user-types">
        <div class="job-seeker user-type">
            <h3>I'm seeking work</h3>
            <ol>
                <li><span>Receive text message alerts when new jobs are posted</span></li>
                <li><span>Listen to job descriptions over the phone</span></li>
                <li><span>Apply for jobs immediately, wherever you are</span></li>
            </ol>
        </div>
        <div class="employer user-type">
            <h3>I'm hiring</h3>
            <ol>
                <li><span>Reach out to job seekers anywhere, anytime, instantly</span></li>
                <li><span>Get access to a larger pool of applicants</span></li>
                <li><span>Receive responses faster and find the help you need right away</span></li>
            </ol>
        </div>
        <div class="social-worker user-type last">
            <h3>I'm a social worker</h3>
            <ol>
                <li><span>Monitor employment statistics for individuals and in aggregate</span></li>
                <li><span>Customize the app to meet your organization's unique needs</span></li>
                <li><span>Integrate with your existing job notification workflow</span></li>
            </ol>
        </div>
        <div class="clearing"></div>
    </section>
    <section id="demo">
        <div class="instructions">
            <h3>Looking for a job?</h3>
            <p>Enter your mobile number to start!</p>
            <form action="{{ settings.APPLICANT_HOST }}{% url splash %}" method="post">
                {% csrf_token %}
                {% if form.mobile_number.errors %}{{ form.mobile_number.errors }}<br />{% endif %}
                {{ form.mobile_number }}
                <button>begin</button>
            </form>
            <p class="confirmation-instructions">
                After submitting your mobile number, you will receive a text message<br />
                from txt2wrk. When you confirm the text message, you will receive a<br/>
                PIN for logging into txt2wrk.net.
            </p>
            <p class="tiny"><a href="{{ settings.APPLICANT_HOST }}{% url applicant_login %}">Already signed up?</a></p>
        </div>
        <div class="expectations">
            <h3>Employer?</h3>
            <p>Sign up here to find candidates</p>
            <a href="{{ settings.EMPLOYER_HOST }}{% url employer_register %}"><button>Sign Up</button></a>
        </div>
        <div class="clearing"></div>
    </section>
    <section id="how-it-works">
        <h3>How it works</h3>
        <p>
            txt2wrk matches job seekers with employment opportunities. Job seekers receive job posts through text messages, listen to descriptions, and submit applications using their mobile phone, 24 hours a day, all without access to the internet.<br />
            <a href="{% url about %}">Read more...</a>
        </p>
        <dl>
            <dt class="job-seeker">job seeker</dt>
            <dd class="job-seeker">
                <ul>
                    <li>submit resume</li>
                    <li>receive job</li>
                    <li>apply to job</li>
                </ul>
            </dd>
            <dt class="social-worker">txt2wrk</dt>
            <dd class="social-worker">
                <ul>
                    <li>store and display resumes</li>
                    <li>store and display jobs</li>
                    <li>facilitate connections</li>
                </ul>
            </dd>
            <dt class="employer">employer</dt>
            <dd class="employer last">
                <ul>
                    <li>submit job</li>
                    <li>receive resumes</li>
                    <li>connect to job seekers</li>
                </ul>
            </dd>
        </dl>
        <img src="{{ STATIC_URL }}images/logged_out/how-it-works.png" />
    </section>
{% endblock %}
