{% extends 'about/homepage_base.html' %}

{% block page_js %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.splitphone.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
           $('input#id_mobile_number').splitPhone();
        });
    </script>
{% endblock %}

{% block page_content %}
    <section id="user-types">
        <div class="job-seeker user-type">
            <h3>I'm seeking work</h3>
            <ol>
                <li><span>Receive text message alerts when new jobs are posted</span></li>
                <li><span>Listen to job descriptions over the phone</span></li>
                <li><span>Apply for jobs immediately, wherever you are</span></li>
            </ol>
        </div>
        <div class="employer user-type">
            <h3>I'm hiring</h3>
            <ol>
                <li><span>Reach out to job seekers anywhere, anytime, instantly</span></li>
                <li><span>Get access to a larger pool of applicants</span></li>
                <li><span>Receive responses faster and find the help you need right away</span></li>
            </ol>
        </div>
        <div class="social-worker user-type last">
            <h3>I'm a social worker</h3>
            <ol>
                <li><span>Monitor employment statistics for individuals and in aggregate</span></li>
                <li><span>Customize the app to meet your organization's unique needs</span></li>
                <li><span>Integrate with your existing job notification workflow</span></li>
            </ol>
        </div>
        <div class="clearing"></div>
    </section>
    <section id="demo">
        <div class="instructions">
            <h3>Try the demo!</h3>
            <p>Experience the range of txt2wrk services as a <strong>job seeker</strong>, <strong>employer</strong>, and <strong>workforce development agency</strong></p>
            <p>Enter your mobile number to begin the txt2wrk demo</p>
            <form action="{% url demo_applicant_register %}" method="post">
                {% csrf_token %}
                {{ demo_form.mobile_number }}
                <button>begin</button>
            </form>
            <p class="confirmation-instructions">
                After submitting your mobile number, you will receive a text message<br />
                from txt2wrk. When you confirm the text message, you will receive a<br/>
                sample job posting and a PIN for logging into txt2wrk.net.
            </p>
        </div>
        <div class="expectations">
            <h3>In our demo you will...</h3>
            <ul>
                <li>Create a job seeker profile</li>
                <li>Receive a sample job as a txt message on your mobile phone</li>
                <li>Create an employer profile</li>
                <li>Create a sample job listing</li>
                <li>Apply to the job from your phone</li>
                <li>Receive job applications on the dashboard of your employer page</li>
                <li>Have the option to download the txt2wrk source code and run a custom version of txt2wrk in your own organization</li>
            </ul>
        </div>
        <div class="clearing"></div>
    </section>
    <section id="how-it-works">
        <h3>How it works</h3>
        <p>
            txt2wrk matches job seekers with employment opportunities. Job seekers receive job posts through text messages, listen to descriptions, and submit applications using their mobile phone, 24 hours a day, all without access to the internet.<br />
            <a href="{% url about %}">Read more...</a>
        </p>
        <dl>
            <dt class="job-seeker">job seeker</dt>
            <dd class="job-seeker">
                <ul>
                    <li>submit resume</li>
                    <li>receive job</li>
                    <li>apply to job</li>
                </ul>
            </dd>
            <dt class="social-worker">txt2wrk</dt>
            <dd class="social-worker">
                <ul>
                    <li>store and display resumes</li>
                    <li>store and display jobs</li>
                    <li>facilitate connections</li>
                </ul>
            </dd>
            <dt class="employer">employer</dt>
            <dd class="employer last">
                <ul>
                    <li>submit job</li>
                    <li>receive resumes</li>
                    <li>connect to job seekers</li>
                </ul>
            </dd>
        </dl>
        <img src="{{ STATIC_URL }}images/logged_out/how-it-works.png" />
    </section>
{% endblock %}
