body {
    color: #294c66;
}

body > div > header {
    background: url('../images/logged_in/header-applicant-dot-matrix.png') top repeat-x;
}

body > div > header > h1 {
    background-image: url('../images/logged_in/logo-applicant.png');
}

body > div > header > h1 > span#header-type {
    color: #85c5f2;
}

body > div > header > span#header-icon {
    background-image: url('../images/logged_in/header-applicant-icon.png');
}

body > div > footer {
    background: url('../images/logged_in/footer-applicant-dot-matrix.png');
}

h2 {
    color: #0d4e90;
}

legend {
    font-size: 24px;
    color: #0d4e90;
    font-weight: normal;
}

table thead tr th {
    color: #0d4e90;
}

button {
    background: #348ddf; /* Old browsers */
    background: -moz-linear-gradient(top, #56baec 0%, #348ddf 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#56baec), color-stop(100%,#348ddf)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #56baec 0%,#348ddf 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #56baec 0%,#348ddf 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #56baec 0%,#348ddf 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#56baec', endColorstr='#348ddf',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, #56baec 0%,#348ddf 100%); /* W3C */
}

.verify-phone section {
    padding: 30px;
    border-bottom: 1px solid #f2f2f2;
}

.verify-phone section.last {
    border-bottom: none;
}

.verify-phone section#waiting h2 {
    margin-bottom: 0px;
}

.verify-phone p {
    font-size: 18px;
    width: 434px;
}

.verify-phone input#id_password {
    width: 50px;
}

.profile div#contact-information {
    float: left;
    width: 250px;
    margin-right: 20px;
}

.profile div#contact-information div#city {
    float: left;
    width: 180px;
}

.profile div#contact-information input#id_city {
    width: 160px;
}

.profile div#contact-information div#zip_code {
    float: left;
    width: 70px;
}

.profile div#contact-information input#id_zip_code {
    width: 60px;
}

.profile div.main-column input[type=text] {
    width: 240px;
}

.profile div.main-column select {
    width: 250px;
    height: 33px;
    margin-top: 2px;
    margin-bottom: 5px;
}

.profile div#additional-details {
    float: left;
    width: 250px;
}

div.fieldWrapper  ul
{
	display: inline-block;
	list-style: none;
	padding: 0;
	margin: 0;
}

div.fieldWrapper label
{
	vertical-align: top;
}

.profile label
{
    display: block;
    margin-bottom: 2px;
    font-size: 13px;
    line-height: 13px;
}

.profile fieldset {
    border-bottom: 1px solid #f2f2f2;
    padding-top: 20px;
    padding-bottom: 20px;
}

.profile fieldset.last {
    border-bottom: none;
}

.profile fieldset.actions {
    text-align: right;
}

.profile div#industryWrapper div label {
    line-height: 18px;
    width: 180px;
}

.profile div#industryWrapper label {
    text-transform: capitalize;
}

span#tab-profile {

}

span#tab-dashboard {

}

.dashboard section#matches a {
    text-decoration: underline;
    color: #45a3e5;
}

.dashboard section#matches button {
    font-size: 13px;
    padding-left: 20px;
    padding-right: 20px;
}

.job-details section#details {
    border-top: 1px solid #e5e5e5;
}

.job-details dl dt {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

.job-details dl dd {
    margin-left: 0px;
    margin-bottom: 20px;
    line-height: 20px;
}

.job-details dl dd#expertise {
    text-transform: capitalize;
}

.job-details dl#requirements {
    float: left;
    width: 250px;
    margin-right: 20px;
}

.job-details section {
    border-top: 1px solid #e5e5e5;
    padding-top: 10px;
}

.job-details section#location h3 {
    font-size: 16px;
}

.job-details section#location p {
    line-height: 20px;
}

.job-details section.actions {
    text-align: right;
}