/*
Default display setting for HTML5 elements
 for browsers that dont understand them
*/
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { 
    display:block;
}

body {
    width: 904px;
    margin: auto;
    margin-top: 0px;
    padding: 0px;
    font-family: Helvetica Neue, Helvetica-Neue, HelveticaNeue, Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: normal;
}

body > div > header {
    margin-top: 15px;
    position: relative;
    color: #fff;
}

body > div > footer {
    margin-bottom: 15px;
    position: relative;
    background: url('../images/dark-dots.png');
    border-radius: 10px;
    padding: 10px 10px 5px 30px;
    color: #fff;
    height: 12px;
}

body > div > footer p {
    font-size: 13px !important;
}

body > div > footer > h5 {
    font-size: 13px;
}
body > div > footer > p {
    width: 470px;
    line-height: 17px;
    margin-bottom: 10px;
}

body > div > footer > p a,
body > div > footer > p a:hover,
body > div > footer > p a:visited {
    color: #fff;
    text-decoration: underline;
}

a, a:visited {
	color: #58595b;
    text-decoration: none;
}

a:hover, a:active {
	color: #000000;
}

h1, h2, h3, h4, h5 {
	margin-top: 0px;
}

h1 {
	font-size: 36px;
}

h2 {
	font-size: 24px;
}

.page-content {
	display: block;
	width: 904px;
	margin: auto;
	padding: 0px 0px;
	min-height: 550px;
}

fieldset {
	border: none;
	margin: 0px 0px 20px 0px;
	padding: 20px 0px 0px 0px;
}

legend {
	width: 100%;
	color: #0091ce;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 10px;
}

label {
	width: 200px;
	display: inline-block;
	font-size: 18px;
	line-height: 36px;
}

input[type=text], input[type=password] {
	width: 208px;
	padding: 5px;
	color: #aaa;
	border: 1px solid #cccccc;
	font-size: 18px;
	margin-bottom: 5px;
	display: inline-block;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

select {
	width: 220px;
}


select, option {
    font-size: 18px;
    height: 36px;
    padding: 2px 5px 2px 5px;
    -webkit-appearance: none;
    border-color: #cccccc;
    color: #aaaaaa;
}

textarea {
	width: 100%;
	border: 1px solid #cccccc;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	font-size: 18px;
    color: #aaaaaa;
}

button {
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-shadow: #58595b 1px 1px 2px;
    border-radius: 5px;
    text-transform: lowercase;
    padding: 5px 10px;
    box-shadow: #c0c0c0 2px 2px 2px;
    cursor: pointer;
}

p {
	margin-top: 0px;
}

ul.errorlist {
	display: inline-block;
	list-style-type: none;
	padding-left: 10px;
	color: #ff0000;
}

ul.no-bullets {
	list-style: none;
	padding-left: 0px;
}

ul.errorlist li {
	
}

.req {
	color: red;	
}

div.fieldWrapper {
	margin-bottom: 10px;
}

.required-fields {
	font-size: 10px;
	float: right;
	color: #58595b;
	margin-top: 5px;
	font-weight: normal;
}

body > header {
	background-color: black;
	height: 42px;
	width: 100%;
    padding-top: 15px;
}

body > header > div {
    width: 820px;
    height: 40px;
    margin: auto;
    background-image: url('/static/images/logo.png');
    background-repeat: no-repeat;
    padding-left: 130px;
    font-size: 30px;
    line-height: 25px;
    color: #fff;
}

.page-nav {
	width: 950px;
	margin: auto;
	height: 0px;
	padding: 0px 35px 0px 35px;
}


.page-nav li{
	float: right;
	margin-right: 10px;
	display: inline;
	list-style: none;
}

.page-nav a {
	line-height: 35px;
}

nav * button {
	font-size: 14px;
	padding: 5px 25px 5px 25px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.right {
	float: right;
}

.left-column {
	float: left;
	width: 50%;
}

.right-column {
	float: right;
	width: 40%;
}

.help-text {
	padding-left: 200px;
}

section > header {
	color: #0091ce;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 10px;
}

section > header * button {
	float: right;
	font-size: 14px;
	padding: 3px 8px 3px 8px;
}

table {
	border-collapse: collapse;
    border-bottom: 1px solid #e5e5e5;
}

thead {
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 5px;
}

thead tr th {
    font-size: 16px;
}

th, td {
	text-align: left;
	padding: 5px 15px 5px 15px;
}

tbody tr td {
    padding: 5px 20px;
}

tbody tr:first-child td {
    padding-top: 20px;
}

tbody tr:last-child td {
    padding-bottom: 20px;
}

th {
	font-weight: normal;
	font-size: 14px;
}

button.dashboard {
	text-align: left;
	font-size: 14px;
	font-weight: normal;
	width: 150px;
	height: 48px;
	padding: 6px;
    padding-right: 35px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	display: inline-block;
}

button.job-description, button.view-applicants, button.view-profile, button.view-resume {
	background: url('/static/images/search_icon.png') no-repeat right, #0091ce !important;
	background: url('/static/images/search_icon.png') no-repeat right, -webkit-gradient(linear, left bottom, right bottom, color-stop(0.0, #0091ce), color-stop(0.7, #0091ce), color-stop(0.7, #ffffff)) !important;
	background: url('/static/images/search_icon.png') no-repeat right, -moz-linear-gradient(left, #0091ce 70%, #ffffff 30%) !important;
}

button.job-remove, button.delete-posting, button.remove-applicant {
	background: url('/static/images/close_icon.png') no-repeat right, #a6a8ab !important;
	background: url('/static/images/close_icon.png') no-repeat right, -webkit-gradient(linear, left bottom, right bottom, color-stop(0.0, #a6a8ab), color-stop(0.7, #a6a8ab), color-stop(0.7, #ffffff)) !important;
	background: url('/static/images/close_icon.png') no-repeat right, -moz-linear-gradient(left, #a6a8ab 70%, #ffffff 30%) !important;
}

button.view-profile, button.remove-applicant, button.view-resume {
    width: 130px;
}

button.job-remove {
    line-height: 52px;
}

button.create-job {
    font-size: 18px;
    width: 190px;
    padding: 10px 35px 10px 0px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    background: url('/static/images/plus_icon.png') no-repeat right, #ffffff !important;
    color: #0091ce;
}

.help-text {
    font-size: 14px;
}

.two-columns {
    -moz-column-count: 2;
    -moz-column-gap: 10px;
    -webkit-column-count: 2;
    -webkit-column-gap: 10px;
    column-count: 2;
    column-gap: 10px;
}

.three-columns {
    -moz-column-count: 3;
    -moz-column-gap: 20px;
    -webkit-column-count: 3;
    -webkit-column-gap: 20px;
    column-count: 3;
    column-gap: 20px;
}

div.clearing {
    clear: both;
}

div.main-column {
    padding: 30px;
}

.with-sidebar .page-content {
    position: relative;
}

.with-sidebar div.main-column {
    width: 540px;
    padding: 30px;
    margin: 0px;
    float: left;
}

.sidebar {
    position: absolute;
    right: 0px;
    width: 242px;
    height: 100%;
    padding: 30px;
    background: url('../images/side-bar-dot-matrix.png');
    -moz-border-image: url('../images/border-dots.png') 27 repeat;
    -webkit-border-image: url('../images/border-dots.png') 27 repeat;
    -o-border-image: url('../images/border-dots.png') 27 repeat;
    border-image: url('../images/border-dots.png') 27 repeat;
    border-width: 0px 0px 0px 2px;
}

.sidebar input[type=text],
.sidebar input[type=password]{
    width: 230px;
}

div#tabs {
    font-size: 18px;
    border-bottom: 1px solid #e6e6e6;
    margin-top: 30px;
    padding-left: 15px;
    padding-bottom: 9px;
}

div#tabs span {
    padding: 10px 30px;
    border-left: 1px solid #e6e6e6;
    border-top: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    background: url('../images/side-bar-dot-matrix.png');
    cursor: pointer;
}

div#tabs span.selected {
    font-size: 24px;
    border-bottom: 1px solid #ffffff;
    background: none;
}

.tiny {
    font-size: 13px;
}

.github {
    margin-left: 20px;
}

.github a {
    color: #45A3E5;
}