body {
    color: #5c6647
}

body > div > header {
    background: url('../images/logged_in/header-employer-dot-matrix.png') top repeat-x;
}

body > div > header > h1 {
    background-image: url('../images/logged_in/logo-employer.png');
}

body > div > header > h1 > span#header-type {
    color: #cef261;
}

body > div > header > span#header-icon {
    background-image: url('../images/logged_in/header-employer-icon.png');
}

body > div > footer {
    background: url('../images/logged_in/footer-employer-dot-matrix.png');
}

h2 {
    color: #558017;
}

legend {
    font-size: 24px;
    color: #558017;
    font-weight: normal;
}

table thead tr th {
    color: #558017;
}

.dashboard section#matches a {
    text-decoration: underline;
    color: #a8cc3d;
}

.dashboard .header {
    width: 400px;
}