body > div > header {
    position: relative;
    height: 55px;
    border-radius: 10px;
}

body > div > header > a > h1 {
    position: absolute;
    left: 16px;
    top: 12px;
    font-size: 24px;
    font-weight: normal;
    color: #fff;
    background-repeat: no-repeat;
    background-position: 0px 4px;
}

body > div > header > a > h1 > span#txt2wrk {
    color: transparent;
    font-weight: bold;
    margin-right: 15px;
    width: 88px;
    display: inline-block;
}

body > div > header nav ul,
body > div > footer nav ul {
    position: absolute;
    top: 0px;
    right: 0px;
    list-style-type: none;
    margin: 5px 10px 0px 0px;
}

body > div > header nav ul li,
body > div > footer nav ul li {
    display: inline;
}

body > div > header nav ul li a,
body > div > header nav ul li a:hover,
body > div > header nav ul li a:visited,
body > div > footer nav ul li a,
body > div > footer nav ul li a:hover,
body > div > footer nav ul li a:visited {
    display: inline;
    color: #fff;
}

body > div > header > span#header-icon {
    display: block;
    position: absolute;
    right: 10px;
    bottom: 8px;
    width: 51px;
    height: 18px;
}

h2 {
    font-weight: normal;
    font-size: 24px;
}

#dashboard-link a,
#dashboard-link a:hover,
#dashboard-link a:visited {
    color: #45a3e5;
    text-decoration: underline;
}

div.header {
    position: relative;
}

div.header p {
    width: 400px;
}

div.header button {
    position: absolute;
    right: 0px;
    top: 0px;
}

div#demo-header {
    background: url('../images/logged_in/demo-dot-matrix.png');
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: relative;
    color: #fff;
}

div#demo-header h2 {
    font-size: 18px;
    font-weight: normal;
    color: #fff;
}
