{% extends "base.html" %}

{% load tabs %}

{% block base_css %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/css/employer.css" />
{% endblock %}

{% block header_text %}employers{% endblock %}

{% block tabbed_navigation %}
    <div id="tabs">
        <a href="{% url employer_profile %}"><span id="tab-profile" class="{% ifactivetab 'tabbed_navigation' 'profile' %}selected{% endifactivetab %}">Profile</span></a>
        <a href="{% url employer_dashboard %}"><span id="tab-dashboard" class="{% ifactivetab 'tabbed_navigation' 'dashboard' %}selected{% endifactivetab %}">Dashboard</span></a>
    </div>
{% endblock %}

{% block header_navigation %}
<nav>
    <ul>
        <li><a href="{% url about %}">about txt2wrk</a></li> |
        <li><a href="{% url contact %}">contact us</a></li> |
        <li><a href="{% if request.user.is_authenticated %}{% url employer_logout %}{% else %}{% url employer_login %}{% endif %}">{% if request.user.is_authenticated %}logout{% else %}login{% endif %}</a></li>
    </ul>
</nav>
{% endblock %}

{% block footer_navigation %}
<nav>
    <ul>
        <li><a href="{% url about %}">about txt2wrk</a></li> |
        <li><a href="{% url contact %}">contact us</a></li> |
        <li><a href="{% if request.user.is_authenticated %}{% url employer_logout %}{% else %}{% url employer_login %}{% endif %}">{% if request.user.is_authenticated %}logout{% else %}login{% endif %}</a></li>
    </ul>
</nav>
{% endblock %}