{% extends "base.html" %}

{% block header_text %}employers{% endblock %}

{% block nav_content %}
<ul>
	<li><a href="{% url employer_logout %}"><button>Logout</button></a></li>
	<li><a href="{% url employer_dashboard %}">Dashboard</a></li>
	<li><a href="{% url employer_profile %}">Profile</a></li>
</ul>
{% endblock %}

{% block demo_overlay %}
    {% if request.session.demo %}
        <div id="demo">You are using the demo version of Txt2Wrk.  Any accounts or jobs you create will not be publicly available to real employers and job seekers. You can <a href="{% if user.is_authenticated %}{% url employer_logout %}?next={% endif %}{% url demo 'False' %}">go back to the normal site.</a></div>
    {% endif %}
{% endblock %}