{% extends "base.html" %}

{% block body_content %}
<h1>Create a Job</h1>
<form action="{% url create_profile %}" method="post">
	{% csrf_token %}
    {{ form.non_field_errors }}
    {% for field in form %}
        <div class="fieldWrapper">
            {{ field.errors }}
			{% if field.is_hidden %}
			   	{{ field }}
			{% else %}
	            {{ field.label_tag }} {{ field }}
			{% endif %}
        </div>
    {% endfor %}
  	<input type="submit" name="create" value="Create Job" />
</form>
{% endblock %}