{% extends "employer/employer_base.html" %}

{% block head_title %}Create or Update Job Postings{% endblock %}

{% block tabbed_navigation %}{% endblock %}

{% block page_class %}edit-job with-sidebar{% endblock %}

{% block page_css %}
<style type="text/css">
    {% if form.edit_location.value == '1' %}
        #fieldset-location legend span {
            display: none;
        }

        #location {
            display: none;
        }
    {% else %}
        #location-form {
            display: none;
        }
    {% endif %}

    #location button {
        font-size: 14px;
        padding: 5px 25px 5px 25px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
    }

    #id_title {
        width: 100%;
    }

</style>

<script type="text/javascript">
    $(document).ready(function() {
       $('#location button').click(function() {
           $('#location').hide()
           $('#location-form').show();
           $('#id_edit_location').val('1');
       });
    });
</script>
{% endblock %}

{% block body_content %}
<form action="./{{job_code}}" method="post">
    <div class="main-column">
        {{ formset.management_form }}
        {% csrf_token %}
        {{ form.non_field_errors }}
        <fieldset>
            <legend>Create or Update Job Postings</legend>
            <div class="fieldWrapper">
                {{ form.title.label_tag }} {{ form.title }} {{ form.title.errors }}
            </div>
            <div class="fieldWrapper">
                {{ form.description.label_tag }} {{ form.description }} {{ form.description.errors }}
            </div>
        </fieldset>
        <fieldset>
            <legend>Availability and Experience</legend>
            <div id="job-info-one">
                <div class="fieldWrapper">
                    {{ form.employment_type.label_tag }} {{ form.employment_type }}
                </div>

                <div class="fieldWrapper">
                    {{ form.availability.label_tag }} {{ form.availability }} {{ form.availability.errors }}
                </div>
                <div class="fieldWrapper">
                    {{ form.education.label_tag }} {{ form.education }} {{ form.education.errors }}
                </div>
            </div>
            <div id="job-info-two">
                <label>{{ form.workday.label_tag }}</label>
                <div class="fieldWrapper two-columns" id="workdayWrapper">
                    {{ form.workday }} {{ form.workday.errors }}
                </div>
                <div class="fieldWrapper">
                    {{ form.overtime }} {{ form.overtime.label_tag }}
                </div>
            </div>
            <div class="fieldWrapper">
                {{ form.zip_code.label_tag }} {{ form.zip_code }} {{ form.zip_code.errors }}
            </div>
            <div class="fieldWrapper">
                {{ form.location_range.label_tag }} {{ form.location_range }} {{ form.location_range.errors }}
            </div>
        </fieldset>
        <fieldset>
            <legend>Areas of Expertise</legend>
            <div class="fieldWrapper" id="industryWrapper">
                <div class="three-columns">{{ form.industry }}</div>
                 {{ form.industry.errors }}
            </div>
        </fieldset>

        {{ form.employer }}

        <div class="right">
            <a href="{% url employer_dashboard %}"><button type="button">Cancel</button></a>
            <button type="submit">Post Job</button>
        </div>
    </div>
    <div class="sidebar">
        <fieldset id="fieldset-location">
            <legend>Job Location</legend>
            {% for locationform in formset %}
                <div id="location">
                    {{ locationform.business_name.value }}<br />
                    {{ locationform.business_address1.value }}<br />
                    {% if locationform.business_address2.value %}{{ locationform.business_address2.value }}<br />{% endif %}
                    {{ locationform.city.value }} {{ locationform.zip_code.value }}<br />
                    <button type="button">Edit Location</button>
                </div>
                <div id="location-form">
                    {{ locationform.id }} {{ locationform.id.errors }}
                    {{ locationform.business_name.label_tag }} {{ locationform.business_name }} {{ locationform.business_name.errors }}
                    {{ locationform.business_address1.label_tag }} {{ locationform.business_address1 }} {{ locationform.business_address1.errors }}
                    {{ locationform.business_address2.label_tag }} {{ locationform.business_address2 }} {{ locationform.business_address2.errors }}
                    {{ locationform.city.label_tag }} {{ locationform.city }} {{ locationform.city.errors }}
                    {{ locationform.zip_code.label_tag }} {{ locationform.zip_code }} {{ locationform.zip_code.errors }}
                </div>
            {% endfor %}
            {{ form.edit_location }}
        </fieldset>
    </div>
    <div class="clearing"></div>
</form>
{% endblock %}

{% block demo_header %}
    <div id="demo-header">
        <h2>Step 6</h2>
        <p>Create a new job opportunity using this form. Once you are finished, click "create job!" to return to the employer dashboard.</p>
        <p>For demo purposes, every job you create as an employer will be matched with your job seeker profile. Normally, only jobs matching your job seeker profile will result in notifications.</p>
    </div>
{% endblock %}
