{% extends "employer/employer_base.html" %}

{% block head_title %} Applicant Profile {% endblock %}
{% block page_css %} 		
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/css/applicant.css" />
<style type="text/css">
    {% if form.edit_location.value == '1' %}
        #fieldset-location legend span {
            display: none;
        }

        #location {
            display: none;
        }
    {% else %}
        #location-form {
            display: none;
        }
    {% endif %}

    #location button {
        font-size: 14px;
        padding: 5px 25px 5px 25px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
    }

    #id_title {
        width: 100%;
    }

    #workdayWrapper > label, #industryWrapper > label {
        display: block;
        width: 100%;
    }

    #workdayWrapper div label, #industryWrapper div label {
        line-height: 18px;
        width: 100%;
    }

    #workdayWrapper div.three-columns div:nth-child(5) {
        margin-bottom: 10px;
    }

</style>

<script type="text/javascript">
    $(document).ready(function() {
       $('#location button').click(function() {
           $('#location').hide()
           $('#location-form').show();
           $('#id_edit_location').val('1');
       });
    });
</script>
{% endblock %}

{% block body_content %}



<h1>Update Your Job Posting</h1>
<p>
Bacon bacon bacon ipsum dolor sit amet nisi proident cow adipisicing pastrami, sirloin pig dolore officia aliqua ut tempor brisket 
pariatur. Andouille brisket aliqua culpa, cupidatat chicken et short ribs bresaola.
</p>
<form action="./{{job_code}}" method="post">
    {{ formset.management_form }}
	{% csrf_token %}
    {{ form.non_field_errors }}
    <fieldset class="left-column" style="width: 30%;" id="fieldset-location">
        <legend>Job Location <span class="required-fields">All Fields Required</span></legend>
        {% for locationform in formset %}
            <div id="location">
                {{ locationform.business_name.value }}<br />
                {{ locationform.business_address1.value }}<br />
                {% if locationform.business_address2.value %}{{ locationform.business_address2.value }}<br />{% endif %}
                {{ locationform.city.value }} {{ locationform.zip_code.value }}<br />
                <button type="button">Edit Location</button>
            </div>
            <div id="location-form">
                {{ locationform.id }} {{ locationform.id.errors }}
                {{ locationform.business_name.label_tag }} {{ locationform.business_name }} {{ locationform.business_name.errors }}
                {{ locationform.business_address1.label_tag }} {{ locationform.business_address1 }} {{ locationform.business_address1.errors }}
                {{ locationform.business_address2.label_tag }} {{ locationform.business_address2 }} {{ locationform.business_address2.errors }}
                {{ locationform.city.label_tag }} {{ locationform.city }} {{ locationform.city.errors }}
                {{ locationform.zip_code.label_tag }} {{ locationform.zip_code }} {{ locationform.zip_code.errors }}
            </div>
        {% endfor %}
        {{ form.edit_location }}
    </fieldset>
    <fieldset class="right-column" style="width: 65%;">
    	<legend>Job Details <span class="required-fields">All Fields Required</span></legend>
	    <div class="fieldWrapper">
            {{ form.title.label_tag }} {{ form.title }} {{ form.title.errors }}
	    </div>
	    <div class="fieldWrapper">
	    	{{ form.description.label_tag }} {{ form.description }} {{ form.description.errors }}
	    </div>
	
	    <div class="fieldWrapper">
	    	{{ form.availability.label_tag }} {{ form.availability }} {{ form.availability.errors }}
	    </div>
	    <div class="fieldWrapper">
	    	{{ form.zip_code.label_tag }} {{ form.zip_code }} {{ form.zip_code.errors }}
	    </div>
	    <div class="fieldWrapper">
	    	{{ form.location_range.label_tag }} {{ form.location_range }} {{ form.location_range.errors }}
	    </div>
	    <div class="fieldWrapper">
	    	</label>
            {{ form.education.label_tag }} {{ form.education }} {{ form.education.errors }}
	    </div>
	    <div class="fieldWrapper">
	    	{{ form.experience.label_tag }} {{ form.experience }} {{ form.experience.errors }}
	    </div>
        <div class="fieldWrapper" id="workdayWrapper">
            {{ form.workday.label_tag }}
            <div class="three-columns">{{ form.workday }}</div>
            {{ form.workday.errors }}
        </div>
	    <div class="fieldWrapper" id="industryWrapper">
	    	{{ form.industry.label_tag }}
            <p class="help-text" style="padding-left: 0px;">(Job seekers will be matched against these categories.)</p>
            <div class="two-columns">{{ form.industry }}</div>
            {{ form.industry.errors }}
	    </div>
	    
	    {{ form.employer }}

        <div class="right">
            <a href="{% url employer_dashboard %}"><button type="button">Cancel</button></a>
            <button type="submit">Post Job</button>
        </div>
	</fieldset>
</form>
{% endblock %}