{% extends "employer/employer_base.html" %}

{% block head_title %} Applicant Profile {% endblock %}
{% block page_css %} 		
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/css/applicant.css" />
{% endblock %}

{% block body_content %}



<h1>Job Profile</h1>
<div>
Bacon bacon bacon ipsum dolor sit amet nisi proident cow adipisicing pastrami, sirloin pig dolore officia aliqua ut tempor brisket 
pariatur. Andouille brisket aliqua culpa, cupidatat chicken et short ribs bresaola.
</div>
<form action="./{{job_code}}" method="post">
	{% csrf_token %}
    {{ form.non_field_errors }}
    <div class="fieldWrapper">
    	<label for="{{ form.title.auto_id}}">   
    	{{ form.title.label }}
      	{% if form.title.field.required %} <span class="req"> * </span> {% endif %}
    	</label>
    	{{ form.title }} {{ form.title.errors }}
    </div>
    <div class="fieldWrapper">
    	<label for="{{ form.availability.auto_id}}">   
    	{{ form.description.label }}
      	{% if form.description.field.required %} <span class="req"> * </span> {% endif %}
    	</label>
    	{{ form.description }} {{ form.description.errors }}
    </div>

    <div class="fieldWrapper">
    	<label for="{{ form.availability.auto_id}}">   
    	{{ form.availability.label }}
      	{% if form.availability.field.required %} <span class="req"> * </span> {% endif %}
    	</label>
    	{{ form.availability }} {{ form.availability.errors }}
    </div>
    <div class="fieldWrapper" id="workdayWrapper">
    	{{ form.workday.label_tag }} {{ form.workday }} 
    </div>
    <div class="fieldWrapper">
    	{{ form.zip_code.label_tag }} {{ form.zip_code }} {{ form.zip_code.errors }}
    </div>
    <div class="fieldWrapper">
    	{{ form.location_range.label_tag }} {{ form.location_range }} {{ form.location_range.errors }}
    </div>
    <div class="fieldWrapper">
    	<label for="{{ form.education.auto_id}}">   
    	{{ form.education.label }}
      	{% if form.education.field.required %} <span class="req"> * </span> {% endif %}
    	</label>
    	{{ form.education }} {{ form.education.errors }}
    </div>
    <div class="fieldWrapper">
    	<label for="{{ form.education.auto_id}}">   
    	{{ form.experience.label }}
      	{% if form.experience.field.required %} <span class="req"> * </span> {% endif %}
    	</label>
    	{{ form.experience }} {{ form.experience.errors }}
    </div>
    <div class="fieldWrapper" id="industryWrapper">
    	{{ form.industry.label_tag }} {{ form.industry }} {{ form.industry.errors }} 
    </div>
    
  	<input type="submit" name="create" value="Save Profile" />
</form>
{% endblock %}