{% extends "employer/employer_base.html" %}

{% block page_class %}manage-job{% endblock %}

{% block tabbed_navigation %}{% endblock %}

{% block head_title %}{{ job.title }}{% endblock %}

{% block body_content %}
<div class="main-column">
    <p id="dashboard-link"><a href="{% url employer_dashboard %}">Back to Dashboard</a></p>
    <div class="header">
        <h2>{{ job.title }}</h2>
        <p>{{ job.description }}</p>
        <a href="{% url edit_job job.job_code %}"><button>Edit Job</button></a>
    </div>
    <section id="matches">
        <table style="width: 100%;">
            <thead>
                <tr>
                    <th style="width: 35%;">Applicants ({{ applications.count }})</th>
                    <th style="width: 20%;">Applied</th>
                    <th style="width: 20%;">Available</th>
                    <th style="width: 25%;">Expertise</th>
                    <th style="width: 10%">Status</th>
                </tr>
            </thead>
            <tbody>
                {% for application in applications.all %}
                    <tr>
                        <td><a href="{% url applicant_view_profile application.applicant.id job.id %}">{{ application.applicant.user.first_name }} {{ application.applicant.user.last_name }}</a></td>
                        <td>{{ application.date_submitted|timesince }} ago</td>
                        <td>{{ application.applicant.get_employment_type_display }}</td>
                        <td>
                            {% for industry in application.applicant.industry.all %}
                                {{ industry }}{% if not forloop.last %},{% endif %}
                            {% endfor %}
                        </td>
                        <td>{{ application.get_state_display }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
</div>
{% endblock %}

