{% extends "employer/employer_base.html" %}

{% block page_class %}registration-form{% endblock %}

{% block head_title %}Create Account{% endblock %}

{% block body_content %}
<div class="main-column">
    <h2>Create Employer Account</h2>
    <div>
        <form action="{% if request.GET.phone_number %}{% url demo_employer_register %}?phone_number={{ request.GET.phone_number }}{% else %}{% url employer_register %}{% endif %}" method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}
            {{ form.username }}
            {% if request.GET.phone_number %}
                <input type="hidden" name="phone_number" value="{{ request.GET.phone_number }}" />
            {% endif %}
            <fieldset>
                <div class="fieldWrapper">
                    {{ form.email.label_tag }} {{ form.email }} {{ form.email.errors }}
                </div>
                <div class="fieldWrapper">
                    {{ form.password1.label_tag }} {{ form.password1 }} {{ form.password1.errors }}
                </div>
                <div class="fieldWrapper">
                    {{ form.password2.label_tag }} {{ form.password2 }} {{ form.password2.errors }}
                </div>
            </fieldset>
            <fieldset class="actions">
                <button name="createaccount">Create Account</button>
            </fieldset>
        </form>
    </div>
</div>
{% endblock %}


{% block demo_header %}
    <div id="demo-header">
        <p>You will now create an employer account. You will be able to post jobs as an employer and receive them on your phone as a job seeker.</p>
        <p>You can use your email and password to access txt2wrk again after you have completed this demo. We suggest you use a simple password that's easy to remember.</p>
        <p>When you have entered your information, click "create account"</p>
    </div>
{% endblock %}
