{% extends "base.html" %}

{% block body_content %}
<h1>Recommend job</h1>
{% if success %}
<h2>Job Sent!</h2>
{% endif %}
<form action="{% url assign_job %}" method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    {% for field in form %}
    <div class="fieldwrapper" style="margin-bottom: 10px;">
        {% if not field.is_hidden %}
            {{ field.label_tag }}
        {% endif %}
        {{ field }}
        {{ field.errors }}
    </div>
    {% endfor %}
    <button>Create job recommendation</button>
</form>
{% endblock %}

{% block demo_overlay %}
    {% if request.session.demo %}
        <div id="demo">You are using the demo version of Txt2Wrk.  Any accounts or jobs you create will not be publicly available to real employers and job seekers. You can <a href="{% if user.is_authenticated %}{% url employer_logout %}?next={% endif %}{% url demo_off %}">go back to the normal site.</a></div>
    {% endif %}
{% endblock %}