<div class="main-column">
    <p id="dashboard-link"><a href="{% url applicant_dashboard %}">Back to Dashboard</a></p>
    <h2>{{ job.title }}</h2>
    <p>{{ job.description }}</p>
    <section id="details">
        <dl id="requirements">
            <dt>Commitment</dt>
            <dd>{{ job.get_employment_type_display }}</dd>
            <dt>Begins</dt>
            <dd>{{ job.get_availability_display }}</dd>
            <dt>Education</dt>
            <dd>{{ job.get_education_display }}</dd>
            <dt>Expertise Required</dt>
            <dd id="expertise">
                {% for industry in job.industry.all %}
                    {{ industry }}<br />
                {% endfor %}
            </dd>
        </dl>
        <dl id="timing">
            <dt>Days Available</dt>
            <dd>
                {% for day in job.workday.all %}
                    {{ day }}<br />
                {% endfor %}
            </dd>
            <dt>Overtime Available?</dt>
            <dd>{{ job.get_overtime_display }}</dd>
        </dl>
    </section>
    <div class="clearing"></div>
    <section class="actions">
        <a href="{% url applicant_dashboard %}"><button>{% if already_applied %}Back{% else %}Cancel{% endif %}</button></a>
        {% if not already_applied %}
            <a href="{% url applicant_apply job.job_code %}"><button>Apply</button></a>
        {% endif %}
    </section>
</div>
<div class="sidebar">
    <h2>Company Info</h2>
    <section id="location">
        <h3>{{ job.location.business_name }}</h3>
        <p>
            {{ job.location.business_address1 }}<br />
            {% if job.location.business_address2 %}{{ job.location.business_address2 }}<br />{% endif %}
            {{ job.location.city }}, {{ job.location.zip_code }}
        </p>
    </section>
    <section id="business-description">
        <p>{{ job.employer.business_description }}</p>
    </section>
</div>
<div style="clear: both;"></div>
