{% extends "applicant/applicant_base.html" %}


{% block head_title %} {{ job.title }} {% endblock %}


{% block page_css %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/applicant.css" />
<style type="text/css">
    section div {
        margin-bottom: 15px;
        clear: both;
    }

    span.label {
        display: inline-block;
        width: 100px;
    }

    span.value {
        margin-left: 150px;
        left: 0px;
        position: relative;
        display: inline-block;
    }

</style>
{% endblock %}

{% block body_content %}
    {% include 'job/job.html' %}
    <div class="right">
        <a href="{% url applicant_dashboard %}"><button>Cancel</button></a>
        <a href="/job/edit/{{job.job_code}}"><button>Apply to Job</button></a>
    </div>
{% endblock %}
