{% extends "employer/employer_base.html" %}

{% block head_title %} Applicant Profile {% endblock %}

{% block page_css %}
<style type="text/css">
    #phone-number {
        margin-bottom: 25px;
    }
</style>
{% endblock %}

{% block tabbed_navigation %}{% endblock %}

{% block page_class %}view-profile with-sidebar{% endblock %}

{% block body_content %}
    <div class="main-column">
        <p id="dashboard-link"><a href="{% url employer_dashboard %}">Back to Dashboard</a></p>
        <h2>{{ applicant.user.first_name }} {{ applicant.user.last_name }}</h2>
        <section>
            <h3>Contact Information</h3>
            <p>Mobile: {{ applicant.mobile_number }}</p>
        </section>
        <section>
            <div id="applicant-info-one">
                <h3>Availability</h3>
                <p>{{ applicant.get_employment_type_display }}</p>
                <h3>Education</h3>
                <p>{{ applicant.get_education_display }}</p>
                <h3>Areas of Expertise</h3>
                <p>
                    {% for industry in applicant.industry.all %}
                        {{ industry }}<br />
                    {% endfor %}
                </p>
            </div>
            <div id="applicant-info-two">
                <h3>Days Available</h3>
                <p>
                    {% for day in applicant.workday.all %}
                        {{ day}}<br />
                    {% endfor %}
                </p>
            </div>
            <div class="clearing"></div>
        </section>
    </div>
    <div class="sidebar">
        <h2>Job</h2>
        <section>
            <h3>{{ job.title }}</h3>
            <p>{{ job.description }}</p>
        </section>
    </div>
    <div class="clearing"></div>
{% endblock %}
