<?xml version="1.0" encoding="UTF-8" ?>  
<Response>
	{% if digits %}
		{% if digits == '1' %}
			{% if listing_type %}
				<Redirect>{% url call_apply listing_type recommendation.id %}</Redirect>
			{% else %}
				<Redirect>{% url call_apply recommendation.id %}</Redirect>
			{% endif %}
		{% endif %}
		{% if digits == '2' %}
			{% if listing_type %}
				<Redirect>{% url call_save_listing listing_type recommendation.id %}</Redirect>
			{% else %}
				<Redirect>{% url call_save_listing recommendation.id %}</Redirect>
			{% endif %}
		{% endif %}
		{% if digits == '3' %}
			{% if listing_type %}
				<Redirect>{% url call_delete_listing listing_type recommendation.id %}</Redirect>
			{% else %}
				<Redirect>{% url call_delete_listing recommendation.id %}</Redirect>
			{% endif %}
		{% endif %}
	{% else %}
		<Say>{{ recommendation.job.description }}</Say>
		{% if listing_type %}
			<Gather action="{% url call_listing_info listing_type recommendation.id %}" numDigits="1">
		{% else %}
			<Gather action="{% url call_listing_info recommendation.id %}" numDigits="1">
		{% endif %}
			<Say>Press 1 to apply for this job.</Say>
			<Say>Press 2 to save this job.</Say>
			<Say>Press 3 to delete this job.</Say>
		</Gather>
	{% endif %}
</Response>
