<?xml version="1.0" encoding="UTF-8" ?>  
<Response>
	{% if digits %}
		{% with recommendation=jobs|first %}
			{% if digits == '1' %}
				<Redirect>{% url call_listing_info 1 recommendation.id %}</Redirect>
			{% endif %}
			{% if digits == '2' %}
				<Redirect>{% url call_apply 1 recommendation.id %}</Redirect>
			{% endif %}
			{% if digits == '3' %}
				<Redirect>{% url call_delete_listing 1 recommendation.id %}</Redirect>
			{% endif %}
			{% if digits == '4' %}
				<Say>Next listing.</Say>
				<Redirect>{% url call_new_listings recommendation.id %}</Redirect>
			{% endif %}
		{% endwith %}
	{% else %}
		{% if jobs.count > 0 %}
			{% with recommendation=jobs|first %}
				<Say>Job {{ job_index }} of {{ job_total }}: {{ recommendation.job.title }} at {% for location in recommendation.job.location.all %}{{ location.business_name }}.{% endfor %}</Say>
				<Gather numDigits="1">
					<Say>For more details, press 1.</Say>
					<Say>To apply for this job, press 2.</Say>
					<Say>To save this job and review the next job, press 3.</Say>
					<Say>To erase this job, press 4.</Say>
                    <Say>To listen to these options again, press 9.</Say>
				</Gather>
			{% endwith %}
		{% else %}
			<Say>You have no more new listings</Say>
			<Redirect>{% url call_main_menu %}</Redirect>
		{% endif %}
	{% endif %}
</Response>
