<?xml version="1.0" encoding="UTF-8" ?>  
<Response>
	{% if digits %}
		{% with recommendation=jobs|first %}
			{% if digits == '1' %}
				<Redirect method="GET">{% url call_listing_info 2 recommendation.id %}</Redirect>
			{% endif %}
			{% if digits == '2' %}
				<Redirect method="GET">{% url call_apply 2 recommendation.id %}</Redirect>
			{% endif %}
			{% if digits == '3' %}
				<Redirect method="GET">{% url call_delete_listing 2 recommendation.id %}</Redirect>
			{% endif %}
			{% if digits == '4' %}
				<Say>Next listing.</Say>
				<Redirect method="GET">{% url call_saved_listings recommendation.id %}</Redirect>
			{% endif %}
		{% endwith %}
	{% else %}
        {% if job_index > job_total %}
            <Say>You have no saved jobs to review.</Say>
            <Redirect method="GET">{% url call_hangup %}</Redirect>
		{% else %}
            {% with recommendation=jobs|first %}
                <Say>Job {{ job_index }} of {{ job_total }}: {{ recommendation.job.title }} at {{ recommendation.job.location.business_name }}.</Say>
                <Redirect method="GET">{% url handle_listing 2 recommendation.id job_index job_total %}</Redirect>
            {% endwith %}
		{% endif %}
	{% endif %}
</Response>
