<?xml version="1.0" encoding="UTF-8" ?>  
<Response>
	{% if digits %}
		{% with recommendation=jobs|first %}
			{% if digits == '1' %}
				<Redirect>{% url call_listing_info 2 recommendation.id %}</Redirect>
			{% endif %}
			{% if digits == '2' %}
				<Redirect>{% url call_apply 2 recommendation.id %}</Redirect>
			{% endif %}
			{% if digits == '3' %}
				<Redirect>{% url call_delete_listing 2 recommendation.id %}</Redirect>
			{% endif %}
			{% if digits == '4' %}
				<Say>Next listing.</Say>
				<Redirect>{% url call_saved_listings recommendation.id %}</Redirect>
			{% endif %}
		{% endwith %}
	{% else %}
		{% if jobs.count > 0 %}
			{% with recommendation=jobs|first %}
				<Say>{{ recommendation.job.title }}</Say>
				<Gather numDigits="1">
					<Say>Press 1 for more information about this job.</Say>
					<Say>Press 2 to apply for this job.</Say>
					<Say>Press 3 to delete this job.</Say>
					<Say>Press 4 to skip to the next job.</Say>
				</Gather>
			{% endwith %}
		{% else %}
			<Say>You have no more saved listings</Say>
			<Redirect>{% url call_main_menu %}</Redirect>
		{% endif %}
	{% endif %}
</Response>
