<?xml version="1.0" encoding="UTF-8" ?>  
<Response> 
	{% if form.errors %}
		<Say>The PIN number you entered was not recognized.</Say>
		<Redirect method="GET">{% url call_enter_password %}</Redirect>
	{% else %}
        {% if new_number %}
            <Say>Welcome to Text 2 Work.</Say>
            <Redirect method="GET">{% url call_wrong_user %}{% if applicant.demo %}?demo=demo{% endif %}</Redirect>
        {% else %}
            {% if jobs.count == 0 %}
                <Say>There are currently no new job matches for you.</Say>
                {% if saved_jobs.count == 0 %}
                    <Say>You have no saved jobs to review.</Say>
                    <Redirect>{% url call_hangup %}</Redirect>
                {% else %}
                    <Say>You currently have {{ saved_jobs.count }} saved jobs to review. Do you want to review them now?</Say>
                    <Redirect method="GET">{% url call_handle_listen_saved %}</Redirect>
                {% endif %}
            {% else %}
                <Say>You have {{ jobs.count }} new jobs to review.</Say>
                <Redirect method="GET">{% url call_new_listings 1 jobs.count %}</Redirect>
            {% endif %}
        {% endif %}
	{% endif %}
</Response>
