<?xml version="1.0" encoding="UTF-8" ?>  
<Response> 
	{% if form.errors %}
		<Say>I'm sorry, that password is incorrect</Say>
		<Redirect>{% url call_enter_password %}</Redirect>
	{% else %}
        {% if new_number %}
            <Say>Welcome to Text 2 Work.</Say>
            <Redirect>{% url call_wrong_user %}</Redirect>
        {% else %}
            <Say>{% if jobs.count == 0 %}There are currently no new job matches for you.{% else %}You have {{ jobs.count }} new jobs to review.{% endif %}</Say>
            <Redirect>{% url call_main_menu %}</Redirect>
        {% endif %}
	{% endif %}
</Response>
