<?xml version="1.0" encoding="UTF-8" ?>  
<Response> 
	{% if form.errors %}
		<Say>The PIN number you entered was not recognized.</Say>
		<Redirect method="GET">{% url call_enter_password %}</Redirect>
	{% else %}
        {% if new_number %}
            <Say>Welcome to Text 2 Work.</Say>
            <Redirect method="GET">{% url call_wrong_user %}</Redirect>
        {% else %}
            {% if jobs.count == 0 %}
                <Say>There are currently no new job matches for you.</Say>
                <Redirect method="GET">{% url call_main_menu %}</Redirect>
            {% else %}
                <Say>You have {{ jobs.count }} new jobs to review.</Say>
                <Redirect method="GET">{% url call_new_listings 1 jobs.count %}</Redirect>
            {% endif %}
        {% endif %}
	{% endif %}
</Response>
