{% extends "employer/employer_base.html" %}

{% load tabs %}

{% block page_class %}dashboard{% endblock %}

{% block tabbed_navigation %}
    {% activetab 'tabbed_navigation' 'dashboard' %}
    {{ block.super }}
{% endblock %}

{% block head_title %}Dashboard{% endblock %}

{% block body_content %}
<div class="main-column">
    <div class="header">
        <h2>{{ profile.business_name }}</h2>
        <p>Create a new job posting, review applicants for existing job postings or delete job postings that have been filled or canceled.</p>
        <a href="{% url create_job %}"><button>Create New Job</button></a>
    </div>
    <section id="matches">
        <table style="width: 100%;">
            <thead>
                <tr>
                    <th style="width: 35%;">Job Title</th>
                    <th style="width: 20%;">Date Created</th>
                    <th style="width: 20%;">Applicants</th>
                    <th style="width: 25%;">Status</th>
                </tr>
            </thead>
            <tbody>
                {% for job in jobs %}
                    <tr>
                        <td><a href="{% url manage_job job.job_code %}">{{ job.title }}</a></td>
                        <td>{{ job.date_created }}</td>
                        <td>{{ job.active_applicants }}</td>
                        <td>{{ job.get_state_display }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
</div>
{% endblock %}