{% extends "employer/employer_base.html" %}

{% load tabs %}

{% block tabbed_navigation %}
    {% activetab 'tabbed_navigation' 'profile' %}
    {{ block.super }}
{% endblock %}

{% block page_class %}profile with-sidebar{% endblock %}

{% block head_title %} Applicant Profile {% endblock %}

{% block page_css %}
<style type="text/css">
    {% if form.edit_account_details.value == '1' %}
        #account-details {
            display: none;
        }
    {% else %}
        #account-details-form {
            display: none;
        }
    {% endif %}
</style>

<script type="text/javascript">
    $(document).ready(function() {
       $('#account-details button').click(function() {
           $('#account-details').hide()
           $('#account-details-form').show();
           $('#id_edit_account_details').val('1');
       });
    });
</script>
{% endblock %}

{% block body_content %}
<form action="{% url employer_profile %}" method="post">
    <div class="main-column">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {{ form.user }}
		<fieldset>
			<legend>Company Information</legend>
            <div id="contact-information">
                <div class="fieldWrapper">
                    {{ form.business_name.label_tag }} {{ form.business_name }} {{ form.business_name.errors }}
                </div>
                <div class="fieldWrapper">
                    {{ form.business_phone_number.label_tag }} {{ form.business_phone_number }} {{ form.business_phone_number.errors }}
                </div>
                <div class="fieldWrapper">
                    {{ form.business_website_url.label_tag }} {{ form.business_website_url }} {{ form.business_website_url.errors }}
                </div>
            </div>
            <div id="location-information">
                <div class="fieldWrapper">
                    {{ form.business_address1.label_tag }} {{ form.business_address1 }} {{ form.business_address1.errors }}<br />
                    {{ form.business_address2 }} {{ form.business_address2.errors }}
                </div>
                <div class="fieldWrapper" id="city">
                    {{ form.city.label_tag }} {{ form.city }} {{ form.city.errors }}
                </div>
                <div class="fieldWrapper" id="zip_code">
                    {{ form.zip_code.label_tag }} {{ form.zip_code }} {{ form.zip_code.errors }}
                </div>
            </div>
		</fieldset>
		<fieldset>
			<legend>Business Description</legend>
            <div class="examples">
                <p class="examples">Content Suggestions</p>
                <ul class="no-bullets examples">
                    <li>What kinds of work does your business engage in?</li>
                    <li>What is important for job seekers to know about your business?</li>
                    <li>What qualities are you looking in potential employees?</li>
                    <li>How would you describe the work environment?</li>
                </ul>
            </div>
			<div class="fieldWrapper" id="business_description">
				{{ form.business_description }} {{ form.business_description.errors }}
			</div>
		</fieldset>
        <fieldset class="actions last">
            <button>Save Profile</button>
        </fieldset>
    </div>
    <div class="sidebar">
        <fieldset>
            {{ form.edit_account_details }}
            <legend>Account Details</legend>
            <div id="account-details">
                <div class="fieldWrapper">
                    {{ form.email.label_tag }} {{ form.email.value }}
                </div>
                <div class="fieldWrapper">
                    {{ form.password1.label_tag }} &bull;&bull;&bull;&bull;&bull;
                </div>
                <div class="right"><button type="button">Edit</button></div>
                <div class="clearing"></div>
            </div>
            <div id="account-details-form">
                <div class="fieldWrapper">
                    {{ form.email.label_tag }} {{ form.email }} {{ form.email.errors }}
                </div>
                <div class="fieldWrapper">
                    {{ form.password1.label_tag }} {{ form.password1 }} {{ form.password1.errors }}
                </div>
                <div class="fieldWrapper">
                    {{ form.password2.label_tag }} {{ form.password2 }} {{ form.password2.errors }}
                </div>
            </div>
        </fieldset>
    </div>
</form>
<div class="clearing"></div>
{% endblock %}

{% block demo_header %}
    <div id="demo-header">
        <h2>Demo Step 4</h2>
        <p>This is the employer profile page. For the demo, we have filled in some sample details.  If you like, you can update this page with your own details.</p>
        <p>When you are done, save your profile.</p>
    </div>
{% endblock %}
