{% extends "applicant/applicant_base.html" %}

{% load tabs %}

{% block page_class %}dashboard{% endblock %}

{% block tabbed_navigation %}
    {% activetab 'tabbed_navigation' 'dashboard' %}
    {{ block.super }}
{% endblock %}

{% block head_title %}Dashboard{% endblock %}

{% block body_content %}
    <div class="main-column">
        <h2>{{ user.first_name }} {{ user.last_name }}</h2>
        <p>View and apply to available jobs from the list below</p>

        <section id="matches">
            <table style="width: 100%;">
                <thead>
                    <tr>
                        <th style="width: 35%;">Job Title</th>
                        <th style="width: 20%;">Dated Received</th>
                        <th style="width: 20%;">Status</th>
                        <th style="width: 25%;"></th>
                    </tr>
                </thead>
                <tbody style="padding-top: 20px;">
                    {% if job_recommendations.count == 0 %}
                        <tr><td colspan="4"><em>You have not been matched to any jobs yet</em></td></tr>
                    {% else %}
                        {% for job_recommendation in job_recommendations %}
                        <tr>
                            <td><a href="{% url applicant_view_job job_recommendation.job.job_code %}">{{ job_recommendation.job.title }}</a></td>
                            <td>{{ job_recommendation.job.date_created|date:"m / d / Y" }}</td>
                            <td>{{ job_recommendation.state_text }}</td>
                            <td><a href="{% url applicant_view_job job_recommendation.job.job_code %}"><button>View Position</button></a></td>
                        </tr>
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </section>
        {% if settings.DEMO_ENABLED %}
            <section id="continue-demo">
                <h2>Next Steps</h2>
                <p>Continue this demo by checking out the employer side. You will create an employer profile, sample jobs, and receive applications for your job listings. The jobs you create will be sent to only your phone.</p>
                <a href="{{ settings.EMPLOYER_HOST }}{% url demo_employer_register %}?phone_number={{ profile.mobile_number }}"><button>Continue Demo</button></a>
            </section>
        {% endif %}
    </div>
{% endblock %}

{% block demo_header %}
    <div id="demo-header">
        <h2>Step 2</h2>
        <p>This is the job seeker's dashboard. All job opportunities matching your profile will be sent to your phone and will also appear in this dashboard. Click on a job opportunity to see more information about it. This dashboard is an optional interface; you can access all of its functionality with your mobile phone.</p>
        <p>When you are done exploring, click "continue demo"</p>
    </div>
{% endblock %}
