{% extends "about/homepage_base.html" %}

{% load tabs %}

{% block header_text %}job seekers{% endblock %}

{% block page_js %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.splitphone.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#id_username').splitPhone();
        });
    </script>
{% endblock %}

{% block page_class %}applicant-login{% endblock %}

{% block page_content %}
    <div id="tabs">
        <a href="{{ settings.APPLICANT_HOST }}{% url applicant_login %}"><span id="tab-profile" class="selected">Job Seekers</span></a>
        <a href="{{ settings.EMPLOYER_HOST }}{% url employer_login %}"><span id="tab-dashboard">Employers</span></a>
    </div>
    <div class="main-column">
        <section>
            <form action="{{ settings.APPLICANT_HOST }}{% url applicant_login %}{% if next %}?next={{ next }}{% endif %}" method="post">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <fieldset>
                    <legend>Login</legend>
                    {% for field in form %}
                        <div class="fieldWrapper">
                            {% if field.is_hidden %}
                                {{ field }}
                            {% else %}
                                {{ field.label_tag }} {{ field }} {{ field.errors }}
                            {% endif %}
                        </div>
                    {% endfor %}
                </fieldset>
                <button>Login</button>
            </form>
        </section>
        {% if DEMO_ENABLED %}
            <section id="download-source">
                <h3>Download the txt2wrk source code</h3>
                <p>You will be able to install and configure the txt2wrk components to match your organization's unique needs.</p>
                <a href="https://github.com/downloads/rogerly/txt2wrk/txt2wrk.tar.gz"><button>Download Source Code</button></a><br />
                <p class="tiny github">or <a target="_blank" href="https://www.github.com/rogerly/txt2wrk">Get it from github</a></p>
            </section>
        {% endif %}
    </div>
{% endblock %}
