{% extends "applicant/applicant_base.html" %}

{% block head_title %} Applicant Profile {% endblock %}
{% block page_css %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/css/applicant.css" />
<style type="text/css">
    div#workdayWrapper div label, div#industryWrapper div label {
        line-height: 18px;
        width: 250px;
    }

    label[for=id_distance] {
        line-height: 18px;
    }
</style>
{% endblock %}

{% block body_content %}



<h1>Hi, {{ user.first_name}}!</h1>
<p>Update your account and profile information below.</p>

<form action="{% url applicant_profile %}" method="post"  enctype="multipart/form-data">
	{% csrf_token %}
    {{ form.non_field_errors }}
    {{ form.user }}
    <div class="left-column" style="width: 45%">
    	<fieldset>
    		<legend>Description of Your Skills <span class="required-fields">All Fields Required</span></legend>
		    <div class="fieldWrapper">
		    	{{ form.education.label_tag }} {{ form.education }} {{ form.education.errors }}
		    </div>
		    <div class="fieldWrapper">
		    	{{ form.experience.label_tag }} {{ form.experience }} {{ form.experience.errors }}
		    </div>
            <div class="fieldWrapper">
                {{ form.employment_type.label_tag }} {{ form.employment_type }} {{ form.employment_type.errors }}
            </div>
            <div class="fieldWrapper">
                {{ form.overtime.label_tag }} {{ form.overtime }} {{ form.overtime.errors }}
            </div>
		    <div class="fieldWrapper" id="workdayWrapper">
		    	{{ form.workday.label_tag }} {{ form.workday }} {{ form.workday.errors }}
		    </div>
		    <div class="fieldWrapper">
		    	{{ form.zip_code.label_tag }} {{ form.zip_code }} {{ form.zip_code.errors }}
		    </div>
		    <div class="fieldWrapper">
		    	{{ form.distance.label_tag }} {{ form.distance }} {{ form.distance.errors }}
		    </div>
		    <div class="fieldWrapper">
		    	{{ form.resume.label_tag }} {{ form.resume }} {{ form.resume.errors }} 
		    </div>
    	</fieldset>
    </div>
    <div class="right-column" style="width: 52%;">
    	<fieldset>
			<legend>I Have Experience in the Following Areas <span class="required-fields">Required field</span></legend>
			<p>(Available jobs will be matched against these categories.)</p>
		    <div class="fieldWrapper" id="industryWrapper">
                <div class="two-columns">{{ form.industry }}</div>
		    	 {{ form.industry.errors }}
		    </div>
    	</fieldset>
	    <div class="right"><button>Create Profile</button></div>
    </div>
	
</form>
{% endblock %}