<!DOCTYPE html>
<html dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}" lang="{{ LANGUAGE_CODE }}">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<title>Txt2Wrk : {% block head_title %}{% endblock %}</title>
		<!--[if lte IE 9]>
			<script type="text/javascript" src="{{ STATIC_URL }}/js/iehtml5.js"></script>
		<![endif]-->
		<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/base.js"></script>

		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/css/base.css" />
		{% block page_css %} {% endblock %}
		{% block extra_css %}{% endblock %}
	</head>
	<body>
		<header><div> | {% block header_text %}{% endblock %}</div></header>
		<nav class="page-nav">
			{% block nav_content %} {% endblock %}		
		</nav>
	
		<div class="page-content">
			{% block body_content %}{% endblock %}
		</div>
        {% block demo_overlay %}{% endblock %}
	</body>
</html>